html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%; overflow: hidden
}

nav {
  position: absolute;
  top:0;
  right: 0;
  width: 200px;
  height: 30px;
  line-height: 30px;
  z-index: 100;
  a {
    margin: 0 10px;
    text-decoration: none;
    font-size: 10px;
    color: white;
    opacity: 0.3;
    text-transform: uppercase;
    &:hover {
      opacity: 0.9;
    }
  }
}

div.Home {
  position: relative;
  height: 100vh;
  background: #0e1625;
  // background: radial-gradient(closest-side, #0e1625, #424347, #0e1625);
  > svg {
    path.graticule {
    }
    path {
    }
  }
  div.input-location {
    z-index: 10;
    position: absolute;
    margin-top: 50px;
    bottom: 35px;
    left: 35px;
    > div {
      display: inline-block;
      height: 30px;
      label {
        width: 30px;
        display: inline-block;
        text-align: right;
        font-size: 14px;
      }
      input {
        width: 80px;
        line-height: 20px;
        outline: none;
        text-indent: 5px;
        margin: 5px;
      }
    }
    div.add-location {
      margin-left: 10px;
      margin-top: 0px;
      text-align: center;
      width: 80px;
      height: 25px;
      line-height: 25px;
      text-transform: uppercase;
      font-size: 13px;
      color: white;
      background: navy;
      cursor: pointer;
      z-index: 10;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

iframe {
  cursor: crosshair !important;
}

div.HomeMarker {
  position: relative;
  transform: translate(-50%, -50%);
  // background: red;
  display: inline-block;
  width: 14px;
  height: 14px;
  .circle {
    width: 14px;
    height: 14px;
    background-color: #e0f8ff;
    border-radius: 50%;
    position: absolute;
    opacity: 0.9;
    top: 0;
    left: 0;
  }

  .ringring {
    border: 3px solid  #e0f8ff;
    -webkit-border-radius: 30px;
    height: 28px;
    width: 28px;
    transform: translate(-50%, -50%);
    position: absolute;
    left: -10px;
    top: -10px;
    -webkit-animation: pulsate 1.5s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.0
  }
}
div.LocationMarker {
  position: relative;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 12px;
  height: 12px;
  .circle {
    width: 12px;
    height: 12px;
    background-color: #72ffd7;
    border-radius: 50%;
    position: absolute;
    opacity: 0.8;
    top: 0;
    left: 0;
  }

  .ringring {
    border: 2px solid  #72ffd7;
    -webkit-border-radius: 30px;
    height: 20px;
    width: 20px;
    transform: translate(-50%, -50%);
    position: absolute;
    left: -6px;
    top: -6px;
    -webkit-animation: pulsate 1.5s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.0
  }
}



img[src="https://maps.gstatic.com/mapfiles/api-3/images/google_white5_hdpi.png"], div.gmnoprint, div.gm-style-cc, button.gm-fullscreen-control{
    display: none;
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.03, 1.03); opacity: 0.0;}
}
